asgiref==3.12.1
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
cryptography==49.0.0
Django==5.2.16
django-cors-headers==4.9.0
google-api-core==2.32.0
google-api-python-client==2.198.0
google-auth==2.56.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
googleapis-common-protos==1.75.0
httplib2==0.32.0
idna==3.18
mysqlclient==2.3.0
oauthlib==3.3.1
proto-plus==1.28.1
protobuf==7.35.1
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.34.2
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.16.0
tzdata==2026.3
uritemplate==4.2.0
urllib3==2.7.0
